@import '../../css/main.css';

.axisX > path {
  display: none;
}

.axisX text {
  fill: var(--colors-axis);
}

.axisY text {
  fill: var(--colors-axis);
}

.heatBars {
  stroke: var(--colors-link);
}

.heatBar {
  fill: var(--colors-bar-standard);
}

.heatBar:hover {
  fill: var(--colors-bar-selected);
}

.tooltip {
  background: var(--colors-tooltip-background);
  border: 0;
  border-radius: 0.5rem;
  font-family: var(--typography-font-family-primary);
  font-size: 1rem;
  font-weight: bold;
  height: auto;
  padding: 0.5rem;
  position: absolute;
  text-align: center;
  width: auto;
}

.tooltip:hover {
  opacity: 0.8;
}
