@import 'colors'
@import 'geometry'
@import 'typography'


body
  background-color: $background-color
  font-family: $primary-font

header
  background-color: $header-background-color
  height: $header-height

footer
  background-color: $footer-background-color
  height: $footer-height


.links
  line
    stroke: $link-color
    stroke-opacity: .6

.nodes
  circle
    stroke-width: 1.5px

.axis
  font-family: $barchart-font
  font-size: 12px

  path,
  line
    fill: none
    shape-rendering: auto  // avoid crispEdges
    stroke: $axis-color

.axis--x
  text
    fill: $axis-color

.axis--y
  text
    fill: $axis-color

.tooltip
  background: $tooltip-background-color
  border: 0
  border-radius: 8px
  font-family: $barchart-font
  font-size: 12px
  font-weight: bold
  padding: 2px
  pointer-events: none
  position: absolute
  text-align: center
  width: 120px

  span
    color: $tooltip-span-color

.state
  opacity: .75

  &:hover
    opacity: 0
