:root {
  /* COLORS */
  --colors-axis: #000;
  --colors-backgound-primary: blue;
  --colors-backgound-secondary: yellow;
  --colors-bar-selected: #17bf3c;
  --colors-bar-standard: #4682b4;
  --colors-circle-fill: #e65100;
  --colors-circle-stroke: #000;
  --colors-font-primary: #d3d3d3;
  --colors-footer-background: #e65100;
  --colors-header-background: #ffc107;
  --colors-line: #3f51b5;
  --colors-link: #789;
  --colors-orbit: #000;
  --colors-orbit-highlighted: #f00;
  --colors-orbit-label: #a9a9a9;
  --colors-orbit-trajectory: #a9a9a9;
  --colors-primary: red;
  --colors-secondary: green;
  --colors-sun: #ff0;
  --colors-tooltip-background: #b0c4de;

  /* TYPOGRAPHY */
  --typography-font-family-primary: 'InknutAntiqua', sans-serif;
  --typography-font-family-secondary: 'Lobster';
  --typography-font-size: 1rem;

  /* GEOMETRY */
  --geometry-footer-height: 10rem;
  --geometry-header-height: 4em;
}

/* Define font-face rules
 * If you have multiple font formats, put most modern formats first.
 * A single font-family can have multiple fonts (e.g. for bold, italic).
 */

@font-face {
  font-family: InknutAntiqua;
  font-style: normal;
  font-weight: normal;
  /* stylelint-disable-next-line declaration-colon-newline-after */
  src: url(./fonts/InknutAntiqua-Regular.ttf)
    format('truetype');
}

@font-face {
  font-family: InknutAntiqua;
  font-style: normal;
  font-weight: bold;
  /* stylelint-disable-next-line declaration-colon-newline-after */
  src: url(./fonts/InknutAntiqua-ExtraBold.ttf)
    format('truetype');
}

/* other cool fonts Syncopate, Quicksand, Aclonica */

body {
  background-color: var(--colors-background-primary);
  font-family: var(--typography-font-family-primary);
}

.src-css-__main__grid--3dd0W {
  display: grid;
  /* stylelint-disable-next-line unit-whitelist */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(1, 1fr);
}

.src-css-__main__grid__card--11aRf {
  box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
  margin: 1rem;
  position: relative;
  transition: transform 0.3s ease-in-out, box-shadow 0.1s;
}

.src-css-__main__grid__card--11aRf:hover {
  box-shadow: 0 0.5em 3rem -1rem rgba(0, 0, 0, 0.5);
  transform: translateY(-0.5rem) scale(1.0125);
}

/* Lazy Load Styles */
.src-css-__main__grid__card__image--1o_Ck {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  filter: blur(0.2rem); /* blur the lowres image */
}

.src-css-__main__grid__card__image--1o_Ck > img {
  display: block;
  opacity: 0; /* visually hide the img element */
  width: 100%;
}

.src-css-__main__grid__card__image--is-loaded--3Lc_h {
  filter: none; /* remove the blur on fullres image */
  transition: filter 1s;
}

.src-css-__main__grid__card__image--is-loaded--3Lc_h > img {
  max-width: 100%;
}

.src-css-__main__grid__card__wrapper--2r8y9 {
  width: 100%;
  z-index: 100;
  position: absolute;
  color: var(--colors-font-primary);
  font-weight: bold;
  text-align: center;
  top: 50%;
}

.src-js-shapes-__shapes-module__frame--3U7aY {
  border: 0.1rem solid gray;
}

.src-js-shapes-__shapes-module__shapeGroup--YaD9u {
  fill: none;
  stroke-width: 10;
  stroke-linejoin: round;
}

.src-js-shapes-__shapes-module__shapePath--3IBbr {
  mix-blend-mode: darken;
}


/*# sourceMappingURL=shapes.css.map*/