:root {
  /* COLORS */
  --colors-axis: #000;
  --colors-backgound-primary: blue;
  --colors-backgound-secondary: yellow;
  --colors-bar-selected: #17bf3c;
  --colors-bar-standard: #4682b4;
  --colors-circle-fill: #e65100;
  --colors-circle-stroke: #000;
  --colors-footer-background: #e65100;
  --colors-header-background: #ffc107;
  --colors-line: #3f51b5;
  --colors-link: #789;
  --colors-orbit: #000;
  --colors-orbit-highlighted: #f00;
  --colors-orbit-label: #a9a9a9;
  --colors-orbit-trajectory: #a9a9a9;
  --colors-primary: red;
  --colors-secondary: green;
  --colors-sun: #ff0;
  --colors-tooltip-background: #b0c4de;

  /* TYPOGRAPHY */
  --typography-font-family-primary: 'InknutAntiqua', sans-serif;
  --typography-font-family-secondary: 'Lobster';
  --typography-font-size: 20px;

  /* GEOMETRY */
  --geometry-footer-height: 150px;
  --geometry-header-height: 4em;
}

/* Define font-face rules
 * If you have multiple font formats, put most modern formats first.
 * A single font-family can have multiple fonts (e.g. for bold, italic).
 */

@font-face {
  font-family: InknutAntiqua;
  font-style: normal;
  font-weight: normal;
  /* stylelint-disable-next-line declaration-colon-newline-after */
  src: url(./fonts/InknutAntiqua-Regular.ttf)
    format('truetype');
}

@font-face {
  font-family: InknutAntiqua;
  font-style: normal;
  font-weight: bold;
  /* stylelint-disable-next-line declaration-colon-newline-after */
  src: url(./fonts/InknutAntiqua-ExtraBold.ttf)
    format('truetype');
}

/* other cool fonts Syncopate, Quicksand, Aclonica */

body {
  background-color: var(--colors-background-primary);
  font-family: var(--typography-font-family-primary);
}

header {
  background-color: var(--colors-header-background);
  height: var(--geometry-footer-height);
}

li {
  font-family: var(--typography-font-family-primary);
}

footer {
  background-color: var(--colors-footer-background);
  color: var(--colors-primary);
  font-family: var(--typography-font-family-secondary);
  font-size: var(--typography-font-size);
  height: var(--geometry-footer-height);
  padding: 20px;
}

.src-js-solar-correlation-__solar-correlation-module__container--FJ61H {
  padding-bottom: 2em;
}

.src-js-solar-correlation-__solar-correlation-module__legendLinear--1eTN1 {
  fill: violet;
}

.src-js-solar-correlation-__solar-correlation-module__moon--T8dG- {
  opacity: 0.75;
}

.src-js-solar-correlation-__solar-correlation-module__orbit--10ieC {
  stroke: var(--colors-orbit);
}

.src-js-solar-correlation-__solar-correlation-module__orbit--highlighted--etpgS {
  stroke: var(--colors-orbit-highlighted);
}

.src-js-solar-correlation-__solar-correlation-module__orbitCircle--1RNxY {
  fill: none;
  stroke-width: 2px;
}

.src-js-solar-correlation-__solar-correlation-module__orbitLabel--2JMiO {
  fill: var(--colors-orbit-label);
  text-anchor: middle;
}

.src-js-solar-correlation-__solar-correlation-module__orbitPlanetarySystem--vD3Dp {
  opacity: 1;
}

.src-js-solar-correlation-__solar-correlation-module__orbitTrajectory--1xul8 {
  stroke: var(--colors-orbit-trajectory);
}

.src-js-solar-correlation-__solar-correlation-module__planet--w9vUS {
  opacity: 1;
  stroke: none;
}

.src-js-solar-correlation-__solar-correlation-module__planetLabel--1LhbS {
  fill: black;
}

.src-js-solar-correlation-__solar-correlation-module__solarSystem--123s7 {
  fill: transparent;
}

.src-js-solar-correlation-__solar-correlation-module__sun--_yTvD {
  fill: var(--colors-sun);
}


/*# sourceMappingURL=solar-correlation.css.map*/