@import '../../css/main.css';

.horizon {
  border-bottom: solid 0.1rem #000;
  border-top: solid 0.1rem #000;
  overflow: hidden;
  position: relative;
}

canvas {
  display: block;
  image-rendering: pixelated;
}

.horizon + .horizon {
  border-top: 0;
}

.horizon .title,
.horizon .value {
  bottom: 0;
  font-family: var(--typography-font-family-primary);
  line-height: 2rem;
  margin-bottom: 0;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  margin-top: 0;
  position: absolute;
  text-shadow: 0 0.1rem 0 rgba(255, 255, 255, 0.5);
  white-space: nowrap;
}

.horizon .title {
  left: 0;
}

.horizon .value {
  right: 0;
}
