<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Bar Chart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- bundle.css is injected here by html-webpack-plugin -->
    <link
      rel="stylesheet"
      href="//rawgithub.com/Caged/d3-tip/master/examples/example-styles.css"
    />
  </head>
  <body>
    <ul>
      <li><a href="/index.html">Home</a></li>
      <li><a href="/about.html">About</a></li>
    </ul>
    <div class="barchart"><h1>Bar Chart</h1></div>
    <!-- bundle.js is injected here by html-webpack-plugin -->
  </body>
</html>
