<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Dolphins</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- bundle.css is injected here by html-webpack-plugin -->
  </head>
  <body>
    <ul>
      <li><a href="<%= PUBLIC_URL %>/index.html">Home</a></li>
      <li><a href="<%= PUBLIC_URL %>/about.html">About</a></li>
    </ul>
    <div id="dolphins"><h1>Dolphins (Force-Directed Graph)</h1></div>
    <!-- bundle.js is injected here by html-webpack-plugin -->
  </body>
</html>
