<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>D3 Visualizations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bundle.css is injected here by html-webpack-plugin -->
  </head>
  <body>
    <header>
      <h1>D3 Visualizations</h1>
    </header>
    <p>You can use regular or <strong>bold fonts</strong>.</p>
    <footer>I am the footer.</footer>
    <!-- bundle.js is injected here by html-webpack-plugin -->
  </body>
</html>
