<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title><%= TITLE %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link
      href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext"
      rel="stylesheet"
      type="text/css"
    />
    <!-- prefetch all other pages -->
    <link rel="prefetch" href="<%= PUBLIC_URL %>/about.html" />
    <% _.forEach(VISUALIZATIONS, function(vizName) { %>
      <link rel="prefetch" href="<%= PUBLIC_URL %>/<%- vizName %>/index.html" /> 
    <% }); %>
    <!-- bundle.css is injected here by html-webpack-plugin -->
  </head>
  <body>
    <ul class="viz-list">
      <% _.forEach(VISUALIZATIONS, function(vizName) { %>
        <li class="viz-list-item">
          <a href="<%= PUBLIC_URL %>/<%- vizName %>/index.html"><%- vizName %></a>
        </li>
      <% }); %> 
    </ul>
    <div class="grid">
        <div class="grid__card">
            <a
              class="grid__card__image"
              href="<%= PUBLIC_URL %>/barchart"
              target="_blank"
              style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/lets-go-100.jpg);"
              data-image-full="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/lets-go-500.jpg"
            >
              <img
                src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/lets-go-100.jpg"
                alt="Barchart"
              />
            </a>
            <div class="grid__card__wrapper">
              <h2>Barchart</h2>
              <p>A simple barchart</p>
            </div>
          </div>
          <div class="grid__card">
            <a class="grid__card__image" href="<%= PUBLIC_URL %>/geomap" target="_blank" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/psychopomp-100.jpg);" data-image-full="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/psychopomp-500.jpg">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/psychopomp-100.jpg" alt="Geomap"
              />
            </a>
            <div class="grid__card__wrapper">
              <h2>Geomap</h2>
              <p>A Geomap</p>
            </div>
          </div>
          <div class="grid__card">
            <a
              class="grid__card__image"
              href="https://inlovewithaghost.bandcamp.com/album/lets-go"
              target="_blank"
              style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/lets-go-100.jpg);"
              data-image-full="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/lets-go-500.jpg"
            >
              <img
                src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/lets-go-100.jpg"
                alt="let's go"
              />
            </a>
            <div class="grid__card__wrapper">
              <h2 style="font-family: Lobster, monospace;">Let's go</h2>
              <p style="font-family: Lobster, monospace;">In Love With A Ghost</p>
            </div>
          </div>
        </div>
    </div>
    <!-- bundle.js is injected here by html-webpack-plugin -->
  </body>
</html>
