<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Solar Correlation Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- bundle.css is injected here by html-webpack-plugin -->
    <link
      href="https://fonts.googleapis.com/css?family=Kite+One|Quicksand"
      rel="stylesheet"
    />
  </head>
  <body>
    <ul>
      <li><a href="<%= PUBLIC_URL %>/index.html">Home</a></li>
      <li><a href="<%= PUBLIC_URL %>/about.html">About</a></li>
    </ul>
    <div id="solar-correlation"></div>
    <!-- bundle.js is injected here by html-webpack-plugin -->
  </body>
</html>
