@import '../../css/main.css';

.country {
  opacity: 0.5;
}

.country:hover {
  opacity: 0.75;
}

.background {
  fill: none;
  pointer-events: all;
}

/* https://css-tricks.com/hover-on-everything-but/ */
.meteoriteStrike {
  opacity: 0.3;
}

.meteoriteStrike:hover {
  opacity: 1;
}
