@import "main.css";

.bar {
  fill: var(--colors-bar-standard);
}

.bar:hover {
  fill: var(--colors-bar-selected);
}

.barchart .axis--x > path {
  display: none;
}

.barchart .axis--x > text {
  fill: var(--colors-axis);
}

.barchart .axis--y > text {
  fill: var(--colors-axis);
}
