@import 'main.css';

.links line {
  stroke: var(--colors-link);
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke-width: 1.5px;
}

.flags-container {
  position: absolute;
}

.flag {
  position: absolute;
}
