@import 'variables.css';
@import 'font-face-rules.css';

body {
  background-color: var(--colors-background-primary);
  font-family: var(--typography-font-family-primary);
}

.grid {
  display: grid;
  /* stylelint-disable-next-line unit-whitelist */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(1, 1fr);
}

.grid__card {
  box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
  margin: 1rem;
  position: relative;
  transition: transform 0.3s ease-in-out, box-shadow 0.1s;
}

.grid__card:hover {
  box-shadow: 0 0.5em 3rem -1rem rgba(0, 0, 0, 0.5);
  transform: translateY(-0.5rem) scale(1.0125);
}

/* Lazy Load Styles */
.grid__card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  filter: blur(0.2rem); /* blur the lowres image */
}

.grid__card__image > img {
  display: block;
  opacity: 0; /* visually hide the img element */
  width: 100%;
}

.grid__card__image--is-loaded {
  filter: none; /* remove the blur on fullres image */
  transition: filter 1s;
}

.grid__card__image--is-loaded > img {
  max-width: 100%;
}

.grid__card__wrapper {
  width: 100%;
  z-index: 100;
  position: absolute;
  color: var(--colors-font-primary);
  font-weight: bold;
  text-align: center;
  top: 50%;
}
