@import 'variables.css';
@import 'font-face-rules.css';

body {
  background-color: var(--colors-background-primary);
  font-family: var(--typography-font-family-primary);
}

header {
  background-color: var(--colors-header-background);
  height: var(--geometry-footer-height);
}

li {
  font-family: var(--typography-font-family-primary);
}

footer {
  background-color: var(--colors-footer-background);
  color: var(--colors-primary);
  font-family: var(--typography-font-family-secondary);
  font-size: var(--typography-font-size);
  height: var(--geometry-footer-height);
  padding: 20px;
}
