@import '../../css/main.css';

.axisX > path {
  display: none;
}

.axisX text {
  fill: var(--colors-axis);
}

.axisY text {
  fill: var(--colors-axis);
}

/* https://css-tricks.com/hover-on-everything-but/ */
.bikers:hover > circle {
  opacity: 0.3;
}

.bikers:hover > circle:hover {
  opacity: 1;
}

.biker {
  stroke: var(--colors-circle-stroke);
  stroke-opacity: 0.3;
}

.biker:hover {
  stroke-opacity: 1;
}

.tooltip {
  background: var(--colors-tooltip-background);
  border: 0;
  border-radius: 8px;
  font-family: var(--typography-font-family-primary);
  font-size: 1rem;
  font-weight: bold;
  height: auto;
  padding: 0.5rem;
  position: absolute;
  text-align: center;
  width: auto;
}

.tooltip:hover {
  opacity: 0.8;
}
